name: CI/CD
on:
  pull_request:
    branches: [ master ]
    types: [ opened, synchronize, reopened, edited, closed, labeled, unlabeled ]
  push:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check that main.py runs
        run: python3 ./main.py